<link
  href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap"
  rel="stylesheet"
/>
<link
  rel="stylesheet"
  href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
/>

<div class="second hero">
  <img
    class="hero-profile-img"
    src="https://i.pinimg.com/originals/9f/b1/ff/9fb1ffb05dd28039d1a06ad8e90cbd75.jpg"
    alt=""
  />
  <div class="hero-description-bk"></div>
  <div class="hero-logo">
    <img
      src="https://miscmedia-9gag-fun.9cache.com/images/thumbnail-facebook/1557291375.3948_Dy2yZu_n.jpg"
      alt=""
    />
  </div>
  <div class="hero-description">
    <p>{{ user.firstName + " " + user.lastName | uppercase }}</p>
  </div>
  <div class="hero-date">
    <p>{{ user.subject }}</p>
  </div>
  <div class="hero-btn">
    <a href="#" (click)="handleDelete()">Delete</a>
  </div>
</div>
