<div class="product-card">
  <div class="badge">{{ product.rating!.count }} reviews</div>
  <div class="product-tumb">
    <img [src]="product.image" [attr.alt]="product.title" />
  </div>
  <div class="product-details">
    <span class="product-catagory">{{ product.category }}</span>
    <h4>
      <a href="">{{ product.title }}</a>
    </h4>
    <p>{{ product.description }}</p>
    <div class="product-bottom-details">
      <div class="product-price">$ {{ product.price }}</div>
      <div class="product-links">
        <a href=""><i class="fa fa-heart"></i></a>
        <a href=""><i class="fa fa-shopping-cart"></i></a>
      </div>
    </div>
  </div>
</div>
