<div class="container">
  <form>
    <label for="fname">First Name</label>
    <input
      type="text"
      id="fname"
      name="firstname"
      placeholder="Your name.."
      [(ngModel)]="firstName"
    />

    <label for="lname">Last Name</label>
    <input
      type="text"
      id="lname"
      name="lastname"
      placeholder="Your last name.."
      [(ngModel)]="lastName"
    />

    <label for="subject">Subject</label>
    <textarea
      id="subject"
      name="subject"
      placeholder="Write something.."
      style="height: 200px"
      [(ngModel)]="subject"
    ></textarea>

    <input type="submit" (click)="handleSubmit()" value="Submit" />

    <div class="flex-container" *ngIf="isSubmitted">
      <app-user-details
        *ngFor="let user of users; let i = index"
        [user]="user"
        [index]="i"
        (deleteEvent)="handleDelete($event)"
      ></app-user-details>
    </div>
  </form>
</div>
